:root {
    --color-900: #141301;
    --color-100: #E5E7E6;
    --color-200: #B7B5B3;
    --color-400: #8a4fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    padding: 2rem;
    align-items: center;
    height: 70px;
    background-color: var(--color-900);
    color: var(--color-100);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    padding: 1rem;

}

.row-container {
    display: flex;
    gap: 2rem;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.champ-card {

    display: flex;
    flex-direction: column;

    font-size: 100%;
    border-radius: 1rem;
    overflow: hidden;

    width: 40vw;
    height: fit-content;

    padding-bottom: 2rem;

    background-color: var(--color-900);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.items-card {
    display: flex;
    justify-content: space-around;

    padding: 1rem 0.75rem;

    width: 400px;
    border-radius: 1rem;
    /* overflow: hidden; */



    background-color: var(--color-900);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.spells-card {
    display: flex;
    gap: 1rem;

    padding: 1rem;

    border-radius: 1rem;
    overflow: hidden;

    background-color: var(--color-900);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.runes-card {
    display: flex;

    gap: 4rem;

    height: 475px;

    padding: 3rem;

    border-radius: 1rem;
    overflow: hidden;

    align-items: flex-start;
    align-self: flex-start;

    background-color: var(--color-900);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-runes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.secondary-runes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

#split {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-100);
}

.tree {
    display: flex;
    color: var(--color-100);
    gap: 0.5rem;
    align-items: center;
}

.rune-section {
    display: flex;
    width: 200px;
    gap: 0.5rem;
    justify-content: space-between;
}

.main-runes > .rune-section {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-100);

}

.main-runes > .rune-section ~ .rune-section{
    border: none;
    padding-bottom: 0;
}

.rune-section > img {
    filter:grayscale(0.95);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    
}

.rune-section > img.active{
    filter:grayscale(0);
    border: 2px solid var(--color-400);
}


.sum-spell {
    border: 2px solid white;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;

    overflow: hidden;
}

.item {
    border: 2px solid white;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.item[value = "1"] {
    border-color:orange;
}

.item[value = "2"] {
    border-color:teal;
}

.item > img {
    width: 100%;
    
}

.sum-spell > img {
    width: 100%;
}




.bottom-section{
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    color: var(--color-200);
}

.bottom-section > h2 {
    font-size: 2.5rem;
    color: var(--color-400);
}

.bottom-section > h3 { 
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--color-100);
}

.bottom-section > p {
    line-height: 1.5;
}

.top-section > a > img{
    width: 100%;
}

.top-section > a {
    text-decoration: none;
    color: var(--color-100);
    position: relative;
    font-size: 0;
}

.top-section > a > h3 {
    position: absolute;
    left: 7.5rem;
    bottom: 5.5rem;
}

.top-section > a > img:hover{
    filter: brightness(0.5);
}

.refresh {
    align-self: center;
    justify-self: flex-end;
    padding: 1rem 2rem;

    border: 2px solid var(--color-400);
    background-color: var(--color-900);
    color: var(--color-100);
    border-radius: 2rem;
}

.refresh:hover {
    color: var(--color-900);
    background-color: var(--color-100);
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .row-container {
        flex-direction: column;
        align-items: center;
    }

    .champ-card {
        align-self: center;
        width: 350px;
        height: fit-content;
        font-size: 1.1rem;
    }

    .items-card {
        width: 350px;
    }

    .runes-card {
        width: 350px;
        flex-direction: column;
        align-items: center;
        height:fit-content;
        
    }

    .rune-section {
        width: 250px;
    }

    .main-runes {
        gap: 1rem;
    }

    .secondary-runes {
        gap: 1rem;
    }

    .refresh {
        margin-bottom: 2rem;
    }
}